<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
    <h2>Cadastrar Produto</h2>
    </header>
    <main>
    <div class="card">
    <form action="/bicicletas" method="POST">
    <input type="text" name="nome" placeholder="Nome e marca do produto" required>
    <input type="text" name="descricao" placeholder="Descrição do produto" required>
    <input type="number" name="preco" placeholder="preço do produto" required>
    <input type="text" name="cor" placeholder="cor do produto" required>
    <button type="submit">Salvar</button>
    </form>

    <a class="btn" href="/homeBicicletas">Voltar</a>
    </div>
    </main>
</body>
</html>