<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Pessoa</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
    <h2>Editar Pessoa</h2>
</header>

<main>
    <div class="card">

        <form action="/pessoas/{{pessoa.id}}/editar" method="POST">

            <h3>Nome</h3>
            <input type="text" name="pessoa" value="{{pessoa.pessoa}}" required>

            <h3>Senha</h3>
            <input type="text" name="senha" value="{{pessoa.senha}}" required>

            <h3>Idade</h3>
            <input type="number" name="idade" value="{{pessoa.idade}}" required>

            <button type="submit">Salvar</button>
        </form>

        <a class="btn" href="/pessoas">Voltar</a>

    </div>
</main>

</body>
</html>
