<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
    <h2>Cadastrar Evento</h2>
    </header>
    <main> 
    <div class="card">
    <form action="/eventos" method="POST">
    <input type="text" name="nome" placeholder="Nome do evento" required>
    <input type="text" name="descricao" placeholder="Descrição do evento" required>
    <input type="text" name="requisitos" placeholder="Requisitos do evento" required>
    <input type="number" name="faixa_etaria" placeholder="Faixa etária do evento" required>
    <input type="date" name="data" placeholder="data do evento" required>
    <button type="submit">Salvar</button>
    </form>

    <a class="btn" href="/homeEvento">Voltar</a>
    </div>
    </main>
</body>
</html>