<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
    <h2>Detalhes do Turma</h2>
    </header>

<main>
    <div class="card">
    
    <p><strong>Nome da Turma:</strong> {{turma.nome}}</p>

        <p><strong>Tutor:</strong> {{turma.tutor.nome}}</p>

        <p><strong>Aula:</strong> {{turma.aula.nome}}</p>

        <p><strong>Pessoa da Turma:</strong></p>
        <ul>
            {{#each turma.pessoas}}
                <li>{{this.pessoa}}</li>
            {{/each}}
        </ul>
        <a class="btn" href="/turma">Voltar</a>

    </div>
</main>

</body>
</html>

