<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
    <h2>Detalhes do Plano</h2>
    </header>

<main>
    <div class="card">

        <p><strong>Nome:</strong> {{plano.nome}}</p>
        <p><strong>benefícios:</strong> {{plano.beneficios}}</p>
        <p><strong>preço:</strong> {{plano.preco}}</p>
        <p><strong>horas limite:</strong> {{plano.horas_limite}}</p>

        <a class="btn" href="/planos">Voltar</a>

    </div>
</main>

</body>
</html>

