<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
    <h2>Detalhes do Tutor</h2>
    </header>

<main>
    <div class="card">

        <p><strong>Nome:</strong> {{tutor.nome}}</p>
        <p><strong>diciplina:</strong> {{tutor.diciplina}}</p>

        <a class="btn" href="/tutor">Voltar</a>

    </div>
</main>

</body>
</html>

