<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
    <h2>Editar Turma</h2>
    </header>
    <main>
    <div class="card"> 
    <form action="/turma/{{turma.id}}/editar" method="post">
    <input type="text" name="nome" value="{{turma.nome}}" required>
    </form>
    <a class="btn" href="/turma">Voltar</a>
    </div>
    </main>
</body>
</html>