<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
    <h2>Editar Serviço</h2>
    </header>
    <main>
    <div class="card"> 
    <form action="/servicos/{{servico.id}}/editar" method="post">
        <h3> nome </h3>
        <input type="text" name="nome" value="{{servico.nome}}" required>
        <h3> descrição </h3>
        <input type="text" name="descricao" value="{{servico.descricao}}" required>
        <h3> preço </h3>
        <input type="text" name="preco" value="{{servico.preco}}" required>
        <button type="submit">Salvar</button>
    </form>
    <a class="btn" href="/servicos">Voltar</a>
    </div>
    </main>
</body>
</html>