<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Pessoas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
    <h1>Gerenciamento de Pessoas</h1>
    </header>
    <main>
        <div class="card">
            <nav class="menu">
        <a class="btn" href="/pessoas">Listar Pessoas</a>
        <a class="btn" href="/pessoas/nova">Nova Pessoa</a>
        <a class="btn" href="/">Voltar ao menu principal</a>
    </nav>
    </div>
    </main>
</body>
</html>
