<link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Pessoas cadastradas</h1>
    </header>
    <main>
        <div class="card2">
            <ul class="lista-retro">
                {{#each pessoas}}
                    <li class="item-retro">
                        <div class="item-info">
                            <a class="link-retro" href="/pessoas/ver/{{id}}">
                                {{pessoa}}
                            </a>
                        </div>
                        <div class="item-buttons">
                            <a class="btn" href="/pessoas/{{id}}/editar">editar</a>
                            <form action="/pessoas/excluir/{{id}}" method="POST">
                                <button type="submit" onclick="return confirm('confirma exclusão?')">Excluir</button>
                            </form>
                        </div>
                    </li> 
                {{/each}}
            </ul>
            <a class="btn" href="/homePessoas">Voltar</a>
        </div>
    </main>
</body>
</html>
