<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header> 
    <h1>HangPang Sports</h1> 
    </header>
    <main>
    <div class="card">
        <nav class="menu">
    <h2 style="text-align: center;">"How Wild!"</h3>
    <a class="btn" href="homePessoas">Gerenciamento de pessoas</a>
    <a class="btn" href="homeBicicletas">Gerenciamento de bicicletas, skates, patinetes e etc</a>
    <a class="btn" href="homeServicos">Gerenciamento de serviços</a>
    <a class="btn" href="homeEvento">Gerenciamento de eventos</a>
    <a class="btn" href="homeBicicletas">Nemo (não aperte)</a>
    <a class="btn" href="homeServicos">Nemo (não aperte)</a>
    </nav>
    </div>
    </main>
</body>
</html>