.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid #b6a792;
    background: #e6d5b8;
    color: #5a544b;
    font-family: inherit;
    box-shadow: 3px 3px 0px #b6a792;
    border-radius: 3px;
    cursor: pointer;
}       

.btn:hover {
    background: #d9c6a5;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body {
    background: #f2e9d8;
    font-family: "Courier New", monospace;
    margin: 0;
    padding: 0;
    color: #5a544b;
}

header {
    background: #fff7e6;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #b6a792;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #fff7e6;
    padding: 20px;
    width: 250px;
    border: 4px solid #b6a792;
    border-radius: 6px;
    box-shadow: 4px 4px 0px #b6a792;
}

.card2 {
    background: #fff7e6;
    padding: 20px;
    width: 300px;
    border: 4px solid #b6a792;
    border-radius: 6px;
    box-shadow: 4px 4px 0px #b6a792;
}


.card h2 {
    margin-top: 0;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 3px solid #b6a792;
    background: #e6d5b8;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 3px 3px 0px #b6a792;
    border-radius: 3px;
}

input {
    width: 100%;
    margin-top: 15px;
    padding: 3px;
    border: 3px solid #e6d5b8;
    background: #b6a792;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 3px 3px 0px #b6a792;
    border-radius: 1.5px;
}

button:hover {
    background: #d9c6a5;
}

button:active {
    box-shadow: 0px 0px 0px #b6a792;
    transform: translate(3px, 3px);
}

.lobby{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
}

.lista-retro {
    padding: 0;
    margin: 0;
    
}

.item-retro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff7e6;
    border: 3px solid #b6a792;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 0px #b6a792;

}

.item-info {
    font-size: 1.1rem;
}

.link-retro {
    color: #5a544b;
    font-weight: bold;
}


.item-buttons {
    display: flex;
    justify-content: space-between;
}

select {
    width: 100%;
    margin-top: 15px;
    padding: 3px;
    border: 3px solid #e6d5b8;
    background: #b6a792;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 3px 3px 0px #b6a792;
    border-radius: 1.5px;
}